a {
    text-decoration: none;
    cursor: pointer;
    color: #555;
}
body {
    margin: 0;
    font-size: 12px;
}
.art_title {
    font-size: 18px;
    font-weight: bold;
    color: #105cb6;
    text-decoration: underline;
}
.desc {
    text-align: justify;
    line-height: 1.8em;
    margin-bottom: 5px;
    color: #333;
    overflow: hidden;
    padding-right: 5px;
    font-size: 15px;
    padding-top: 5px;
}
.info > * {
    margin-left: 4px;
}
.info .username {
    color: #105cb6;
}
.timer, .info {
    font-size: 14px;
}
.timer {
    color: #555;
}
.info {
    margin-top: 10px;
}
.panel-heading {
    font-weight: bold;
}
.panel-heading, .cate {
    height: 47px;
}